<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.HireCar">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_design_"
        android:label="@string/comp_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".EditCarAdmin"
            android:exported="true"/>

        <activity
            android:name=".ViewAllBookings"
            android:exported="false" />
        <activity
            android:name=".Add_Car"
            android:exported="false" />
        <activity
            android:name=".ViewCar"
            android:exported="true" />
        <activity
            android:name=".EditLocation"
            android:exported="true" />
        <activity
            android:name=".Add_Locations"
            android:exported="true" />
        <activity
            android:name=".admin_home"
            android:exported="true" />
        <activity
            android:name=".ViewUsers"
            android:exported="true" />
        <activity
            android:name=".ViewLocations"
            android:exported="true" />
        <activity
            android:name=".verify_login"
            android:exported="true" />
        <activity
            android:name=".faqs"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".change_password"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyBookingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPasswordOTPActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileSettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingSummaryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindCarActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".welcome_screen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".verify_otp"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>